{% extends "layout.njk" %}

{%block content%}
<h1>Select your favorite game for "platform_name"</h1>

<ul class="overallLists">
  {%for item in games%}
    <li class="myLists" >{{item.name}}</li>
  {%endfor%}
</ul>

{% endblock %}
