{% extends "layout.njk" %}

{%block content%}
<h1>Select your favorite game for {{myPlatform.name}}</h1>

<ul class="overallLists">
  {%for item in games.games%}
    <li class="myLists">
      <a class="homelist" href=/plateform/{{myPlatform.id}}/games/{{item.id}}>
        {{item.name}}
      </a>
    </li>
  {%endfor%}
</ul>

{% endblock %}
