{% extends "layout.njk" %}

{%block content%}
<h1>Select your favorite game for {{myPlatform.name}}</h1>

<ul class="overallLists">
  {%for item in games.games%}
    <li class="myLists" href=/plateform/:platform_id/games/games_id>{{item.name}}</li>
  {%endfor%}
</ul>

{% endblock %}
