{% extends "layout.njk" %}

{%block content%}
<h1>Welcome to the ultimate video-game website</h1>
<h2> Select your favorite gaming platform</h2>

<ul class="overallLists">
  {%for item in platform %}
    <li class="myLists">
      <a class="homelist" href=/platform/{{item.id}}>
      {% if item.logo%}
        <img class="logo" src="{{item.logo.url}}" alt = "Logo video games" >
      {%else%}
        <img class="logo" src="/images/No_Cover.png" alt = "Logo video games undefined" >
      {%endif%}
      {{item.name}}
      </a>
    </li>
    {%endfor%}
</ul>

{% endblock %}
