<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
   <div class="header">
      <h2>
        <a href="/" class="image-cropper"><img src="/images/Video_Games_Logo_(1).svg.png" alt = "Logo video games" class="image-cropper">
        </a>
      </h2>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
      <h5><a> A FOOTER FOR THE GAMER </a></h5>
    </div>
  </body>
</html>
